<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Devolver préstamo - Bibliotecas</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>Sistema Gestor de Bibliotecas</h1>
</header>
<nav>
  <ul>
    <li><a href="/listadoPrestamos">Volver al listado</a></li>
  </ul>
</nav>
<main>
  <h2>Devolver préstamo</h2>
  <form action="/devolverPrestamoCSV" method="post">
    <div class="form-group">
      <label for="codigoPrestamo">Código del préstamo:</label>
      <input type="number" class="form-control" id="codigoPrestamo" name="codigoPrestamo" required><br>

      <label for="fechaFin">Fecha de devolución:</label>
      <input type="date" id="fechaFin" name="fechaFin"><br>
    </div>
    <button type="submit" class="btn btn-danger">Devolver préstamo</button>
  </form>
</main>
</body>
</html>
