<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listado préstamos - Bibliotecas</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    <h1>Sistema Gestor de Bibliotecas</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Libros</a></li>
        <li><a href="/listadoLectores">Lectores</a></li>
        <li><a href="/listadoPrestamos">Préstamos</a></li>
    </ul>
</nav>
<nav class="subNav">
    <ul>
        <li><a href="/prestarPrestamo">Prestar</a></li>
        <li><a href="/devolverPrestamo">Devolver</a></li>
        <li><a href="/anularPrestamo">Anular</a></li>
    </ul>
</nav>
<main>
    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Libro</th>
            <th>Lector</th>
            <th>Fecha de préstamo</th>
            <th>Fecha de devolución</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prestamo : ${prestamos}">
            <td th:text="${prestamo.codigoPrestamo}"></td>
            <td th:text="${prestamo.codigoLibro}"></td>
            <td th:text="${prestamo.codigoLector}"></td>
            <td th:text="${prestamo.fechaInicio}"></td>
            <td th:text="${prestamo.fechaFin}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>&copy; 2023 David Martos Ruiz</p>
</footer>
</body>
</html>
